<ion-view title="El Apagón de Puerto Rico" id="page7" style="background-color:##2196F3;">
  <ion-content padding="true" class="has-header">
    <h1 id="elApagNDePuertoRico-heading4" style="color:#000000;">El Apagón de Puerto Rico</h1>
    <div id="elApagNDePuertoRico-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Un incendio en la Central Aguirre de la Autoridad de Energía Eléctrica (AEE) en Salinas provocó una avería que mantiene sin luz a miles de de abonados a través de todo Puerto Rico, confirmaron fuentes oficiales. </p>

      <p style="color:#000000;">Geraldo Quiñones, oficial de prensa de la AEE, dijo que se trata de una avería general a nivel isla.</p>

      <p style="color:#000000;">
        <strong>"Se están investigando las causas y los sectores afectados"</strong>, indicó.</p>
    </div>
    <div>
      <img src="img/fpBYYo33T9KQy8IVIQ0d_puerto-rico-apagon-masivo-a-jpg_604x0.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>