<ion-view title="El Zika en Puerto Rico" id="page6" style="background-color:#2196F3;">
  <ion-content padding="true" class="has-header">
    <h1 id="elZikaEnPuertoRico-heading3" style="color:#000000;">El Zika en Puerto Rico</h1>
    <div id="elZikaEnPuertoRico-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">La infección por el virus
        <strong>Zika</strong> es causada por la picadura de un mosquito Aedes infectado, causando generalmente erupción cutánea, fiebre leve, conjuntivitis y dolor muscular. El virus fue aislado por primera vez en 1947 en el bosque Zika en Uganda. Desde entonces,
        se ha mantenido principalmente en África, con brotes pequeños y esporádicos en Asia.</p>
    </div>
    <div>
      <img src="img/IKLiky9CRuy6tMteD2sv_zika-fb.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>