<ion-view title="Home Page" hide-nav-bar="true" id="page11" style="background-color:#D6D6D6;">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <h1 id="homePage-heading5" style="color:#000000;text-align:center;">PequeSalud</h1>
    <div>
      <img src="img/5NMMUO7XR3y3tCU8g0Iw_ScreenShot2016-11-04at10.53.55AM.png" width="80%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <div id="homePage-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">La aplicación oficial para anuncios sobre la oficina y noticias de la Dra. Zalduondo</p>
    </div>
    <a ui-sref="login" id="homePage-button7" class="button button-positive  button-block">Log In</a>
    <a ui-sref="register2" id="homePage-button8" class="button button-positive  button-block">Registrarse</a>
  </ion-content>
</ion-view>