<ion-view title="Información de Oficina" id="page13" style="background-color:#2196F3;">
  <ion-content padding="true" class="has-header">
    <div id="informaciNDeOficina2-markdown14" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:20px;">
        <strong>Dirección</strong>
      </p>

      <p style="color:#000000;font-size:20px;">Calle General del Valle #1017 Urb. Las Delicias, Río Piedras, PR</p>

      <p style="color:#000000;font-size:20px;">
        <strong>Horarios de la Oficina:</strong>
      </p>

      <p style="color:#000000;font-size:20px;">Lunes a Jueves: 8:00 AM-4:00 PM</p>
    </div>
    <div>
      <img src="img/haXku3PXSXqieoxr6Huw_LZk5Ka59Kd.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>