<ion-view title="Noticias" id="page1" style="background-color:#2196F3;">
  <ion-content padding="true" class="has-header">
    <form id="noticias-form2" class="list">
      <ion-item class="item-thumbnail-left" id="noticias-list-item5" ui-sref="menu.elZikaEnPuertoRico">
        <img src="img/SaByaYzpRFuU2XcJWaet_salud-viajero-en-houston-da-positivo-al-virus-del-zika-estados-unidos-salud-brasil-365126171.jpg">
        <h2>El Zika en Puerto Rico</h2>
        <p>Maneras para prevenirlo</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="noticias-list-item6" ui-sref="menu.elApagNDePuertoRico">
        <img src="img/IGDLEuqOT7G5T3Fepb8k_fuego-suministrada.jpg">
        <h2>Apagón de Puerto Rico</h2>
        <p>Lea sobre este incidente</p>
      </ion-item>
    </form>
  </ion-content>
</ion-view>