<ion-view title="Register" id="page12" style="background-color:#9E9E9E;">
  <ion-content padding="true" class="has-header">
    <div id="register2-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Para poder registrarte como paciente necesitas visitar la oficina</p>

      <p style="color:#000000;">1) Haz una cita con la doctora</p>

      <p style="color:#000000;">2) Hagase paciente y obtenga un código de paciente</p>

      <p style="color:#000000;">3) Ingrese su código para registrase</p>
    </div>
    <a ui-sref="ingreseSuCDigo" id="register2-button9" class="button button-positive  button-block">Entra tu código</a>
    <div id="register2-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Para más información sobre la oficina</p>
    </div>
    <a ui-sref="informaciNDeOficina2" id="register2-button10" class="button button-positive  button-block">¡Aquí!</a>
  </ion-content>
</ion-view>