<ion-view title="Settings" id="page4" style="background-color:#9E9E9E;">
  <ion-content padding="true" class="has-header">
    <a ui-sref="menu.register" id="settings-button2" class="button button-positive  button-block">Registrarse como Paciente</a>
    <form id="settings-form3" class="list">
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle1">Notification</ion-toggle>
    </form>
    <form id="settings-form5" class="list">
      <label class="item item-select" id="settings-select2">
        <span class="input-label">Lengüaje</span>
        <select>
          <option>Español</option>
          <option>English</option>
          <option>Français</option>
        </select>
      </label>
    </form>
    <button id="settings-button1" class="button button-positive  button-block">Sign Out</button>
  </ion-content>
</ion-view>